# Python
__pycache__/
*.py[cod]
*$py.class
*.so
build/
dist/
wheels/
*.egg-info/
*.egg

# Virtual environments
.venv
venv/
ENV/
env/

# Jupyter
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Streamlit
.streamlit/secrets.toml

# OpenAI / API Keys
.env
*.key

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# UV
.uv/

# Ruff
.ruff_cache/
